<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <!-- 1er Paso para añadir apartamento una vez creado el modelo, y las rutas get de admin y user al home -->
    <h1>Add New Apartment</h1>
    <form class="container" action="/admin/apartment/new-apartment" method="POST">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" required maxlength="30">
        <label for="location">Ciudad - Población</label>
            <input type="text" name="location" id="location" required maxlength="30">
        <label for="description">Descripción</label>
        <textarea rows="5" name="description" id="description" required></textarea>
        <label for="price">Precio por noche</label>
        <input type="number" name="price" id="price" required min="0">
        <label for="size">M <sup>2</sup></label>
        <input type="number" name="size" id="size" required min="0">
        <label for="mainPhoto">Foto principal</label>
        <input type="url" name="mainPhoto" id="mainPhoto">
        <fieldset class="services-container">
            <legend>Servicios</legend>
            <div>
                <label>
                    <input type="checkbox" name="wifi" value="true">
                    Wi-Fi gratuito
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="airConditioner" value="true">
                    Aire acondicionado
                </label>
            </div>
        </fieldset>
        
        <input type="submit" value="Añadir">
    </form>
</body>

</html>