
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}

/* Estilos generales para la grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 20px;
    margin: 20px;
}

.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    cursor: pointer;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.error {
    background-color: red;
}

/* Estilos de la card */
.card {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);    
}

.card.apartment {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 500px;
    
}

.card h1 {
    font-size: 20px;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

/* Contenedor de imagen */
.image-container {
    overflow: hidden; /*cualquier contenido que se extienda más allá de los límites del elemento será recortado y no será visible. */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card-home {
    width: 350px; 
    height: 200px;
    object-fit: cover; /* Imagen ocupa el area disponible sin distorsionarse */
    display: block; /* Es tratada como un elemento de bloque */
    margin: 0 auto; /* Para centrar la imagen en la card */
}

.image-detail {
    width: 100%; 
    height:450px;
    object-fit: cover;
    display: block; 
  
}

.image-detail-apartment {
    width: 100%; 
    height:550px;
    object-fit: cover; 
    display: block;
  
}

.image-detail-thumbails{
    width:100%; 
    height:150px;
}

.color-box {
    padding: 10px;
    color: white;
}

.advisement{
    font-size: 11px;
}

@media (max-width: 768px) {
    .submit.btn {
        width: 100%; /* Ajustar el ancho al 100% del contenedor padre */
        max-width: 300px; /* Definir un máximo para que no se expanda demasiado en pantallas grandes */
    }

    .image-detail-thumbails {
        width: 100; 
        height:100px;
        object-fit: cover; /* Imagen ocupa el area disponible sin distorsionarse */
        display: block; /* Es tratada como un elemento de bloque */
      
    }
}